@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	--blue: #0071FF;
	--light-blue: #B6DBF6;
	--dark-blue: #005DD1;
	--grey: #f2f2f2;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #081b29;
}

.container{
    position: relative;
    top: 0;
    left: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
	max-width: 400px;
	width: 100%;
	background: #fff;
	padding: 30px;
	border-radius: 30px;
	transition: all .3s ease;
}
.img-area {
	position: relative;
	width: 100%;
	height: 240px;
	background: var(--grey);
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
	transition: .4s ease;
}
.img-area:hover{
	background: #d9d9d9;
}
.img-area-w {
	position: relative;
	width: 100%;
	height: 240px;
	background: var(--grey);
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
	transition: .4s ease;
}
.img-area-w:hover{
	background: #d9d9d9;
}
.icon {
	font-size: 100px;
}
.img-area h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}
.img-area p {
	color: #999;
}
.img-area p span {
	font-weight: 600;
}
.img-area-w h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}
.img-area-w p {
	color: #999;
}
.img-area-w p span {
	font-weight: 600;
}
.img-area-w img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}
.img-area-w::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.img-area-w.active:hover::before {
	opacity: 1;
}
.container a{
	text-decoration: none;
} 
.select-image {
	display: block;
	width: 100%;
	padding: 16px 0;
	border-radius: 15px;
	background: #007bff;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}
.select-image:hover {
	background: var(--dark-blue);
}
.centered-image {
  position: absolute;
  right: 7%;
  bottom: 25%;
  max-width: 50%;
  max-height: 50%;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.image-fade-in {
  opacity: 1;
}
.image-heading,
.image-description {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(-50%, -100%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.image-heading {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.image-description {
  font-size: 16px;
  margin: 0;
}
.btn{
	display: block;
	width: 100%;
	padding: 16px 0;
	border-radius: 15px;
	background: #007bff;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
	margin-top: 30px;
}
.feature-item {
	height: 100%; /* Set the height of feature-item div to match the img-area-w div */
  }
  
  